* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/4348226/pexels-photo-4348226.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.border {
    border: solid 2px royalblue;
}

.margin {
    margin: 10px 0 10px 0;
}

.width-height {
    width: 50%;
    max-width: 500px;
    min-height: 100px;
    height: 150px;
    background-color: salmon;
    padding: 20px;
    box-sizing: border-box;
}


.padding {
    padding: 10px;
}

.menu{
    list-style-type: none;
    padding: 0;
    background-color: slategray;

}

.menu li {
    display: inline;
    padding: 20px 10px;
}

.text-shadown{
    text-shadow: 0 0 5px blue;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear{
    clear: both;
}
.menu li:hover {
    background-color: #111;
    padding: 20px 10px;
}

.menu li a {
    display: inline-block;
    color: #fff;
    padding: 20px 10px;
    text-decoration: none;
}


.hidden {
    visibility: hidden;
}

.outline{
 /*   outline-style: none;*/
    border: 2px solid red;
    outline-color: red;
    box-shadow: 0 0 5px red;
    outline: none;
    
}

.cursor {
    cursor: pointer;
}


.break-word{
    word-wrap: break-word;
}